@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  color: #f5ede9;
}

h1 {
  font-size: 3em;
  text-align: center;
  max-height: calc(95vw - 50px);
}

h2 {
  font-family: 'Prata', serif;
  color: #ffd900;
  margin: 2em;
  text-align: center;
  text-transform: uppercase;
}

.normalCase {
  text-transform: inherit;
}

.handscript {
  font-family: 'Permanent Marker', cursive;
}

.blinkingTyping {
  position: relative;
}

.blinkingTyping::after {
  content: "|";
  position: absolute;
  left: 100%;
  -webkit-animation: blinking infinite 1.5s;
          animation: blinking infinite 1.5s;
}

@-webkit-keyframes blinking {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

@keyframes blinking {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.diapo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) {
  .diapo {
    margin-top: 6em;
  }
}

.diapo .titleDiapo {
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.diapo .titleDiapo * {
  text-align: center;
  margin: 0.3em;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  background-color: #06080c;
}

.diapo .wrapperCardDiapo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.384);
  border-radius: 5vmin;
  position: relative;
}

.diapo .cardDiapo {
  cursor: pointer;
  height: 10vmin;
  width: 10vmin;
  border-radius: 100%;
  background: #06080c;
  margin: 2vmin;
  opacity: 0.4;
}

.diapo .cardDiapo.OnFocus {
  opacity: 1;
  border: solid #ffd900 2px;
  -webkit-box-shadow: inset 0 0 3vmin 0 rgba(0, 0, 0, 0.336);
          box-shadow: inset 0 0 3vmin 0 rgba(0, 0, 0, 0.336);
}

.diapo .cardDiapo.cardHidden {
  opacity: 0;
  cursor: default;
}

.diapo .cardDiapo.ToLeft, .diapo .cardDiapo.ToRight {
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
}

.diapo .cardDiapo.ToLeft i, .diapo .cardDiapo.ToRight i {
  font-size: 10vmin;
  text-align: center;
  color: #f5ede9;
}

.diapo .cardDiapo.ToLeft:hover i, .diapo .cardDiapo.ToRight:hover i {
  opacity: 0.5;
}

.diapo .cardDiapo.ToLeft {
  left: 0;
}

.diapo .cardDiapo.ToRight {
  right: 0;
}

.InfoDiapo {
  display: none;
}

.infoProject {
  text-align: center;
  background: rgba(0, 0, 0, 0.534);
  color: #f5ede9;
  margin: 5px 20vmin;
  padding: 3px;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .infoProject {
    margin: 5px;
  }
}

.cardDiapoL {
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#06080c)) !important;
  background: linear-gradient(90deg, transparent, #06080c) !important;
}

.cardDiapoR {
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#06080c)) !important;
  background: linear-gradient(270deg, transparent, #06080c) !important;
}

nav {
  position: relative;
  background-color: #06080c;
  position: fixed;
  width: 200px;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.534);
          box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.534);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 800px) {
  nav {
    width: 50px;
  }
}

nav > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav > .link {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

nav .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

nav .link > a {
  text-decoration: none;
  padding: 10px;
}

nav .link > a:hover {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

nav .link > a i {
  color: #f5ede9;
}

nav .link > a i.fa-hashtag {
  opacity: 0.3;
}

nav .link .bubbleLink {
  position: absolute;
  left: calc(100% + 15px);
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background-color: #06080c;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 1s, 1s;
  transition: 1s, 1s;
  -webkit-transition-property: top left;
  transition-property: top left;
}

nav .link a:active ~ .bubbleLink {
  left: calc(100% + 100px);
}

header {
  margin: 0;
  padding: 0;
}

.sectionHead {
  height: 100vh;
  background: url("../img/head.jpg");
  background-size: cover;
  background-position: left top;
  position: relative;
}

.sectionHead .cardHead {
  position: absolute;
  top: 33%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.sectionHead .cardHead > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.815);
}

.sectionHead .cardHead h1 {
  margin-bottom: 10px;
}

.sectionHead .cardHead h2 {
  margin-top: 0;
}

.sectionHead .cardHead .img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: 3px solid #f5ede9;
}

.sectionHead .cardHead .note {
  position: absolute;
  background-image: url("../img/4x/blocNote2@4x.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  left: 50%;
  top: 100px;
}

.sectionHead .cardHead .note p {
  text-shadow: none;
  color: red;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .sectionHead .cardHead .note {
    left: calc( 50% - 130px);
    top: 100%;
  }
}

footer {
  background: #06080c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #f5ede9;
}

footer * {
  color: #f5ede9;
}

#skills {
  background: url("../img/backgroundSkill.png"), #192131;
  display: -ms-grid;
  display: grid;
  grid-template: "tt tt tt" auto "s1 s2 s3" 1fr "s4 s5 s6" 1fr / 1fr 1fr 1fr;
}

@media screen and (max-width: 1000px) {
  #skills {
    grid-template: "tt tt" auto "s1 s2" 1fr "s3 s4" 1fr "s5 s6" 1fr / 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  #skills {
    grid-template: "tt" auto "s1" 1fr "s2" 1fr "s3" 1fr "s4" 1fr "s5" 1fr "s6" 1fr / 1fr;
  }
}

#skills > h2 {
  grid-area: tt;
}

#skills > * {
  text-align: center;
}

#skills article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#skills article .img {
  height: 200px;
  width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 100%;
  background: radial-gradient(#16181f, #06080c), #06080c;
}

#skills article h3 {
  position: relative;
}

#skills article h3::after {
  position: absolute;
  content: "";
  background-color: red;
  top: calc(100% + 0.25em);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10%;
  height: 0.5em;
  border-radius: 0.25em;
}

#projects {
  background: url("../img/backgroundProject.png");
  position: relative;
}

@media screen and (max-width: 800px) {
  #projects {
    min-height: auto;
  }
}

#projects .projectView {
  position: relative;
  height: calc(60vh + 18vmin);
}

@media screen and (max-width: 800px) {
  #projects .projectView {
    min-height: auto;
    height: calc(40vh);
  }
}

#projects .projectView .projectPc {
  z-index: 3;
  position: absolute;
  width: calc( 80% - 10vmin);
  max-height: 60vh;
  aspect-ratio: 16/9;
  border-radius: 5%;
  border: 4vmin solid #06080c;
  background: #16181f;
}

@media screen and (max-width: 800px) {
  #projects .projectView .projectPc {
    width: calc( 70% - 10vmin);
  }
}

#projects .projectView .projectPc::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 10vmin;
  border-radius: 100%;
  background: #06080c;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px 5px 20px 5px #06080c;
          box-shadow: 0px 5px 20px 5px #06080c;
}

#projects .projectView .projectMobile {
  z-index: 3;
  position: absolute;
  height: 50%;
  aspect-ratio: 9/16;
  border-radius: 5%;
  border: 2vmin solid #06080c;
  border-width: 2vmin 0.5vmin;
  background: #16181f;
  top: 5vmin;
  right: 0;
  -webkit-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.493);
          box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.493);
}

@media screen and (max-width: 800px) {
  #projects .projectView .projectMobile {
    aspect-ratio: 9/16;
    height: auto;
    width: calc(100% - 70%);
    right: 0;
    top: 0;
  }
}

#projects .projectView .projectMobile::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 20%;
  height: 1vmin;
  border-radius: 100%;
  background: #16181f;
  top: -1.5vmin;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#projects .projectView .projectMobile .imgProject, #projects .projectView .projectPc .imgProject {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#contact {
  background: url(../img/backgroundContact.png);
}

#contact .cardContact {
  min-height: 80vh;
  padding-top: 6vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: url("../img/SVG/blocNote3.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#contact .cardContact * {
  color: #06080c;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.2em;
}

#contact .cardContact p {
  margin: 4px 0px 2px 0px;
}

#contact .cardContact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#contact .cardContact form input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-block: 10px;
  color: #06080c;
  border-radius: 10px;
  padding: 5px;
  border: #f5ede9 solid 2px;
  width: 25%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #contact .cardContact form input {
    width: 50%;
  }
}

#contact .cardContact form [type=submit] {
  cursor: pointer;
  background-color: #16181f;
  color: #f5ede9;
  border: #06080c solid 2px;
}

#contact .cardContact form [type=submit]:hover {
  background-color: #06080c;
}

#other {
  background: url("../img/backgroundOther.png");
}

#other h3 {
  position: relative;
}

#other h3::after {
  position: absolute;
  content: "";
  background-color: red;
  top: calc(100% + 0.25em);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20px;
  height: 0.5em;
  border-radius: 0.25em;
}

@media screen and (min-width: 800px) {
  #other {
    display: -ms-grid;
    display: grid;
    grid-template: "tt tt" 3em "gj gp" auto / 1fr 1fr;
  }
  #other > h2 {
    grid-area: tt;
  }
  #other > .otherGJ {
    grid-area: gj;
  }
  #other > .otherGp {
    grid-area: gp;
  }
}

#other > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#other > div > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#other a {
  text-decoration: none;
}

#other .cardW {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 950px) {
  #other .cardW {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#other p {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
  border-radius: 20px;
  background-color: #06080c;
}

@media screen and (min-width: 800px) {
  #other p {
    height: 50vh;
  }
}

@media screen and (min-width: 950px) {
  #other p {
    height: 30vh;
  }
}

#other .cardOther {
  cursor: pointer;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: radial-gradient(#06080c, #16181f);
  border: 3px solid #06080c;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

#other .cardOther > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#other .cardOther i {
  font-size: 75px;
}

#other .cardOther span {
  display: none;
}

#other .cardOther:hover::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  border-radius: 100%;
  background-color: #06080c;
  opacity: 0.8;
}

#other .cardOther:hover span {
  z-index: 2;
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5%;
  width: 90%;
  text-align: center;
  vertical-align: middle;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  margin-left: 200px;
  background-color: #192131;
  position: relative;
}

@media screen and (max-width: 800px) {
  body {
    margin-left: 50px;
  }
}

main > * {
  padding-inline: 5vmin;
}

.img {
  overflow: hidden;
}

.img img {
  width: 100%;
  height: auto;
}

section {
  min-height: 100vh;
}

.deco {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  opacity: 0.2;
  color: #f5ede9;
  font-size: 20vmin;
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  .hiddenMobile {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */