#other{
    background: url("../img/backgroundProject.png");
    position: relative;
    padding:0;
    display: grid;
    height: 100vh;
    grid-template: 
    "p1 p2" 50vh
    "p3 p4" 50vh / 1fr 1fr;
    @media screen and (max-width:600px){
        height: 200vh;
        grid-template: 
        "p1" 50vh
        "p2" 50vh
        "p3" 50vh
        "p4" 50vh / 1fr;
    }
    .title{
        position: relative;
    }
    .h2{
        position: absolute;
        top:5px;
        left: 50%;
        > *{padding:2px 20px;}
        > *{margin:0;}
        height: calc(7em + 4px);
        width: calc(7em + 4px);
        top:50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: $yellow;
        > *{color:$black;transform: rotate(-45deg);}
        border-radius: 0;
        @media screen and (max-width:600px){

        }
    }
    *:not(.textProject){
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        > *{align-self: center;}
    }
    .project{
        border:4px solid $black;
        display: grid;
        grid-template:
        "title title link" 1fr
        "stack texte texte" 2fr / 1fr 1fr 1fr;
        > h3{grid-area: title;}
        .linkProject{grid-area: link;}
        .stackProject{grid-area: stack;}
        .textProject{grid-area: texte;}
        .linkProject{
            font-size: 2em;
            flex-direction: row;
            a{text-decoration: none;}
            i{
                padding: 10px;
                transition-duration: 1s;
                transition-property: color;
                &:hover{color:$red}
            }
        }
        h3{
            height: 100%;
            background-color: rgba(0, 0, 0, 0.767);
            position: relative;
            &::after{
                position: absolute;
                content: "";
                bottom: 5px;
                left: 50%;
                transform: translateX(-50%);
                width: 50px;
                height: 4px;
                border-radius: 2px;
                background-color: $red;
            }
        }
        .textProject{
            overflow-y: auto;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.767);
            p{
                text-align: justify;
                margin:5px;
                padding: 5px; 
                
            }
        }
        &:hover{
            grid-template: 
            "title title link" 50%
            "stack texte texte" 50% / 0 0 100%;
            > h3{display: none;}
            .linkProject{
                font-size: 4em;
                a {position: relative;}
                .toCode::after{content: "Son code";}
                .toWeb::after{content: "Le site";}
                a::after{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    font-size: 14px;
                    text-shadow: 0 0 3px black;
                    transition-duration: 1s, 1s;
                    transition-property: color, text-shadow;
                }
                a:hover::after{color:$red;text-shadow: 0 0 3px white;}
            }
            .stackProject{display: none;}
            border:4px solid $yellow;
        }
    }
    .p2{
        background: 
        radial-gradient(rgba(0, 0, 0, 0.205),rgba(0, 0, 0, 0.473))
        ,url("../img/project/autres/gameJam.png");
        background-size: cover;
        background-position: center;
    }

    .p3{
        background:  
        radial-gradient(rgba(0, 0, 0, 0.205),rgba(0, 0, 0, 0.473))
        ,url("../img/project/autres/insta.png");
        background-size: cover;
        background-position: center;
    }
    .p4{
        background:  
        radial-gradient(rgba(0, 0, 0, 0.205),rgba(0, 0, 0, 0.473))
        ,url("../img/project/autres/behance.jpg");
        background-size: cover;
        background-position: center; 
    }
}

