//abstract
@import "./abstract/color";    
@import "./abstract/form";      
@import "./abstract/font";           
//animation       
@import "./animation/textAnim";   
@import "./animation/diapo";        
//         
@import "./nav";                  
@import "./head";           
@import "./footer";               
// section              
@import "./skill";                 
@import "./projects";                   
@import "./contact";                     
@import "./other";       
//           
html{scroll-behavior:smooth}  
body{     
    margin: 0;    
    padding: 0;  
    margin-left: 200px;  
    @media screen and (max-width:800px){   
        margin-left: 50px; 
    }  
    background-color: $bg;   
    position: relative;                      
}                            
main > *{         
    padding-inline: 5vmin;        
}  
.img{    
    overflow: hidden;   
    img{     
        width: 100%;   
        height: auto;
    }   
}   
section{ 
    min-height: 100vh; 
} 
.deco{
    position: fixed; 
    bottom: 10px; 
    right: 10px; 
    z-index: 2;
    opacity: 0.2;
    color: $white; 
    font-size: 20vmin;
}
.hidden{
    display: none;
}
@media screen and (max-width:800px){   
    .hiddenMobile{
        display: none;
    } 
}