footer{
    display: grid;
    grid-template-columns: 17vh auto 17vh;
    grid-template-rows: auto;
    grid-template-areas: "a b c";
    @media screen and (min-height: 100vw){
        grid-template-columns: 17vw auto 17vw;
    }

    .a{grid-area:a; border-right: $border;}
    .b{grid-area:b; border-right: $border;}
    .c{grid-area:c;}
}