// <input type="checkbox" class="m1">
// <div class="menu1Btn btn"></div>
// <div class="menu m1 hidden"></div>
// <input type="checkbox" class="m2">
// <div class="menu2Btn btn"></div>
// <div class="menu m2 hidden"></div>
// <input type="checkbox" class="m3">
// <div class="menu3Btn btn"></div>
// <div class="menu m3 hidden"></div>
@import "../abstract/colors";

[type="radio"]{
    opacity: 0;
    z-index: 4;
}
#outil{
    grid-area: if;
    > *{position: fixed;}
    [type="radio"].m1,.menu1Btn{
        height: 7vh;
        width: 7vh;
        top: 25vh;
        right: 5vh;
        bottom:auto;
        left:auto;
    }
    [type="radio"].m2,.menu2Btn{
        height: 7vh;
        width: 7vh;
        top: 40vh;
        right: 5vh;
        bottom:auto;
        left:auto;
    }
    [type="radio"].m3,.menu3Btn{
        height: 7vh;
        width: 7vh;
        top: 55vh;
        right: 5vh;
        bottom:auto;
        left:auto;
    }
}
@media screen and (max-width:850px) and (min-height:300px){ #outil{
    // verticale
    [type="radio"].m1,.menu1Btn{
        height: 7vh;
        width: 7vh;
        bottom: 10vh;
        left:calc(12.5vw - 3.5vh);
        top:auto;
        right: auto;
    }
    [type="radio"].m2,.menu2Btn{
        height: 7vh;
        width: 7vh;
        bottom: 20vh;
        left:calc(12.5vw - 3.5vh);
        top:auto;
        right: auto;
    }
    [type="radio"].m3,.menu3Btn{
        height: 7vh;
        width: 7vh;
        bottom: 30vh;
        left:calc(12.5vw - 3.5vh);
        top:auto;
        right: auto;
    }
}}
@media screen and (max-height:500px) and (min-width:600px){ #outil{
    // horizontale
    [type="radio"].m1,.menu1Btn{
        height: 10vh;
        width: 10vh;
        top: 2vh;
        left:50vw;
        bottom:auto;
        right:auto;
    }
    [type="radio"].m2,.menu2Btn{
        height: 10vh;
        width: 10vh;
        top: 2vh;
        left:60vw;
        bottom:auto;
        right:auto;
    }
    [type="radio"].m3,.menu3Btn{
        height: 10vh;
        width: 10vh;
        top: 2vh;
        left:70vw;
        bottom:auto;
        right:auto;
    }
}}
#menu{
    grid-area: li;
    > *{position: fixed;}
    [type="radio"].m1,.menu1Btn{
        height: 7vh;
        width: 7vh;
        top: 55vh;
        left: 5vh;
        bottom:auto;
        right:auto;
    }
    [type="radio"].m2,.menu2Btn{
        height: 7vh;
        width: 7vh;
        top: 65vh;
        left: 5vh;
        bottom:auto;
        right:auto;
    }
    [type="radio"].m3,.menu3Btn{
        height: 7vh;
        width: 7vh;
        top: 75vh;
        left: 5vh;
        bottom:auto;
        right:auto;
    }       
}
@media screen and (max-width:850px) and (min-height:300px){ #menu{
    // verticale
    [type="radio"].m1,.menu1Btn{
        height: 7vh;
        width: 7vh;
        top: 20vh;
        left:calc(12.5vw - 3.5vh);
        bottom:auto;
        right:auto;
    }
    [type="radio"].m2,.menu2Btn{
        height: 7vh;
        width: 7vh;
        top: 30vh;
        left:calc(12.5vw - 3.5vh);
        bottom:auto;
        right:auto;
    }
    [type="radio"].m3,.menu3Btn{
        height: 7vh;
        width: 7vh;
        top: 40vh;
        left:calc(12.5vw - 3.5vh);
        bottom:auto;
        right:auto;
    }}
}
@media screen and (max-height:500px) and (min-width:600px){ #menu{
    // horizontale
    [type="radio"].m1,.menu1Btn{
        height: 10vh;
        width: 10vh;
        bottom: 5vh;
        left:2.5vw;
        top:auto;
        right:auto;
    }
    [type="radio"].m2,.menu2Btn{
        height: 10vh;
        width: 10vh;
        bottom: 20vh;
        left:2.5vw;
        top:auto;
        right:auto;
    }
    [type="radio"].m3,.menu3Btn{
        height: 10vh;
        width: 10vh;
        bottom: 35vh;
        left:2.5vw;
        top:auto;
        right:auto;
    }}
}
#outil, #menu{
    
    .menu{
        height: 80vh;
        width: 80vw;
        top: 10vh;
        left:10vw;
        z-index: -10;
    }
    [type="radio"]{
        &:checked{
            z-index: 12;
            &.m1 ~ .menu1Btn {background-color: orangered;}
            &.m1 ~ .m1{
                background-color: $fond;
                border: orangered 2px solid;
                display: block;
                z-index: 4;
            }
            &.m2 ~ .menu2Btn {background-color: orangered;}
            &.m2 ~ .m2{
                background-color: $fond;
                border: orangered 2px solid;
                display: block;
                z-index: 4;
            }
            &.m3 ~ .menu3Btn {background-color: orangered;}
            &.m3 ~ .m3{
                background-color: $fond;
                border: orangered 2px solid;
                display: block;
                z-index: 4;
            }
            position: fixed;

            z-index: 11;
        }
    }
}
.btn{
    background-color: $fond;
    border: orangered 2px solid;
}
[type="radio"].closeradio{
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    height: 5vh;
    width: 5vh;
    opacity: 1;
    &:not(:checked){
        top: 10vh;
        left: auto;
        right: 10vw;
    }
}

