.gallery{
    position: absolute;
    bottom: calc(3em + 20px);
    display: flex;
    height: 20vh;
    width: 400px;
    max-width: calc(80vw - 2px);
    display: flex;
    justify-content: center;
    z-index: 5;
    overflow: hidden;
    border:1px solid black;
    .slider{
        width: max-content;
        display: flex;
        justify-content: center;
        
        div {
            &:not(.paintGalleryEmpty){
                border-left:1px solid black;
                border-right:1px solid black;
            }
            height: 20vh;
            width: 20vh;
            cursor: pointer;
            transition-duration: 500ms; 
            transition-property: transform;
            &:not(.BtngalInter):not(.paintGalleryEmpty):hover{
                border:2px solid black;
                transform: scale(0.9); 
            }
        }
    }
    .BtngalInter{
        z-index: 30;
        cursor: pointer;
        position: absolute;
        top: 0;
        height: 100%;
        width: 20%;
        background-color: rgba(0, 0, 0, 0.377);
        &:hover{background-color:rgba(0, 0, 0, 0.507)}
        display: flex;
        justify-content: center;
        i{
            font-size: 2em;
            color: white;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
        }
        &.galleryPrev{
            left:0;
        }
        &.galleryNext{
            right: 0;
        }
    }
}
.sliderNamePaint{
    z-index: 10;
    position: absolute;
    bottom:20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px 4px 8px;
    margin:0 0 10px 0;
    border-radius: calc(1em + 4px);
    background-color: white;
    box-shadow: $shadowsDiffuse;
    @media screen and (max-width:600px){
        left:40vw;
        bottom:10px;
    }
}
.snapWrapper{
    .gallerySection:nth-child(odd){
        .gallery{right: 0;}
    }
    .gallery{
    @media screen and (min-width:600px){
        background-color: rgb(34, 38, 48);
        width: 100%;
        max-width: 100%;
        right: auto;
        left: 0;
        bottom: 0;
    }}
}
.gallerySection{
    .galleryTxt{
        margin: 0;
        position: absolute; 
        top:0;
        height: 100vh;
        width: 400px; 
        max-width: 80vw;
        background-color: rgb(255, 255, 255); 
        z-index: 3;
        box-shadow: $shadowsDiffuse;
        
    }
    .galleryTitle{
        font-size: 6vh;
        @media screen and (max-width:600px){
            font-size: 10vw;
        }
        padding-top: 5px;
        margin: 0;
        z-index: 5;
    }
    .galleryContent{
        margin-top: 5vw;
        padding: 10px;
        z-index: 4;
    }
}
.zoomPicGallery{
    position: fixed;
    z-index: 100;
    top: 0px;
    height: 100vh; 
    width: 100vw;
    left: 0;
    .zoomImg{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 80%;
        @media screen and (max-width:600px){
            top:30%;
            width: 100%;
            height: 70%;
        }
    }
    .zoomInfo{
        position: absolute;
        overflow-y: auto;
        top: 0;
        right: 0;
        height: 100%;
        width: 20%;
        background-color: white;
        @media screen and (max-width:600px){
            height: 30%;
            width: 100%;
        }
        *{padding: 5px;}
        h2{margin-bottom: 0;}
        .subTitle{margin-top: 0;font-size: 0.9em;}
    }
    > p{
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 21%;
        font-size: 3em;
        padding: 2px;
        margin:0;
        background-color: rgba(175, 177, 187, 0.8);
        @media screen and (max-width:600px){
            bottom:5px;
            top:auto;
            right: 5px;
        }
    }
}
.snapWrapper{
    .gallerySection:nth-child(even){
        .galleryTxt{
            left:0;
        }

        .BtnArt{
            right: 0;
            left:auto;
            @media screen and (max-width:600px){
                > i {font-size: calc(15vw - 6px);}
                right:2.5vw;
            }
            @media screen and (min-width:600px) {
                left:410px;
                transform: translateX(0);
            }
        }
    }
}
.snapWrapper{
    .gallerySection:nth-child(odd){
        .sliderNamePaint{
            @media screen and (max-width:600px){
                right: 40vw;
                left: auto;
                transform: translateX(50%);
            }
        }
        .galleryTitle, .galleryContent{
            padding-right: 20px;
        }
        .galleryTxt{
            right: 0;
        }
        .BtnArt{
            left: 0;
            right:auto;
            @media screen and (max-width:600px){
                > i {font-size:  calc(15vw - 6px);}
                left:2.5vw
            }
            @media screen and (min-width:600px) {
                left:auto;
                right:410px;
                transform: translateX(0);
            }
        }
    }
}
