.indexYoga{
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:
    "tt tt tt 44 44 44 44"
    "33 33 33 33 33 55 55"
    "11 cc cc cc cc 55 55"
    "11 cc cc cc cc 55 55"
    "ll ll ll ll 66 66 66"
    ;
    > .yogaTitle{grid-area: tt;}
    > .yogaContent{grid-area: cc;}
    > .yogaLinks{grid-area: ll;}
    .card{
        border-radius: 1vh;
        background: #ffffff;
        box-shadow:  5px 5px 15px #0000000a,
                    -5px -5px 15px #ffffff86;
    }
    .yogaTitle, .yogaContent, .yogaLinks{
        //width: fit-content;
        margin:5vh;
        padding:1vh;
    }
    .yogaTitle{
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
    }
}
.yogaBox{
    border-radius: 14px;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.548), rgba(0, 0, 0, 0.089));
    box-shadow:  6px 6px 8px rgba(0, 0, 0, 0.11),
                -6px -6px 8px rgba(255, 255, 255, 0.781);
}
.yogaBoxInvert{
    border-radius: 14px;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.548), rgba(0, 0, 0, 0.089));
    box-shadow:  6px 6px 8px rgba(255, 255, 255, 0.781),
                -6px -6px 8px rgba(0, 0, 0, 0.11);
}
.yogaIndexInfo{
    animation: liveFromLeft 1.2s linear 1; 
    animation-fill-mode: forwards;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    max-width: 80vw;
    height: 100%;
    border-radius: 0;
}
.yogaNav{
    z-index: 3;
    animation: liveFromLeft 1.2s linear 1; 
    animation-fill-mode: forwards;
    width: max-content;
    position: absolute;
    bottom: 20%;
    left: 400px;
    a{
        display: block;
        padding: 5px;
        margin: 15px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bolder;
        &:hover{
            margin-left: 20px;
        }
        transition-duration: 1s;
    }
    @media screen and (max-width:600px) {
        left: 4px;
        bottom: 4px;
    }
}
@keyframes liveFromLeft{
    to{transform: translateX(0vw);}
    from{transform: translateX(-100vw);}
}