.yogaVideoInfo{
    
    p{
        padding:0 2vw 0 2vw;
    }
    @media screen and (min-width:600px){.mobileShow{
        display: none;
    }}
    @media screen and (max-width:600px) {
        &.show{
            z-index: 99;
            .mobileShow{
                cursor: pointer;
                position: absolute;
                bottom:-150%;
                right: 0;
                width: 10vw;
                height: 10vw;
                text-align: center;
                i{
                    font-size: 8vw;
                    margin: 0vw;
                    padding: 0;
                }
            }
        }
        &:not(.show){
            width: 10vw;
            *{ opacity: 0;}
            .navYogaFiche{
                position: absolute;
                top: 15vw;
                left: 0;
                bottom: auto;
                right: auto;
            }
            .navYogaFiche, .navYogaFiche *{
                opacity: 1;
                a, .mobileShow{
                    cursor: pointer;
                    display: block;
                    width: 10vw;
                    height: 10vw;
                    text-align: center;
                    margin: 0vw;
                        padding: 0;
                    i{
                        font-size: 8vw;
                        margin: 0vw;
                        padding: 0;
                    }
                }
            }
        }
    }
}
.videoWrapper{
    position: absolute;
    top:0;
    right:0;
    height: 100vh;
    width: calc(100vw - 400px);
    min-width: 20vw;
    iframe{
        height: 90vh;
        width: calc(100vw - 400px);
        border: none;
    }
    @media screen and (max-width:600px){
        width: 90vw;
        iframe{width: 90vw;}
    }
}
.videoLinkYogaBtn{
    height: calc(10vh - 8px);
    display: flex; 
    justify-content: center;
    
    button{
        cursor: pointer;
        transition-duration: 500ms;
        background-color: white;
        margin:0 2vw 0 2vw;
        width: max-content;
        border: none;
        box-shadow: 
        0px 0px 3px rgba(0, 0, 0, 0.26);
        min-width: 20vw;
        border-radius: 20px;
        font-size: 1em;
        &:hover, :active{
            box-shadow: 
            0px 0px 6px rgba(0, 0, 0, 0.4);
        }
    }
}
.videoLinkYogaWrapper{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 7px;
    .videoLinkYoga{
        cursor: pointer;
        box-shadow: 
        0px 0px 3px rgba(0, 0, 0, 0.26);
        &:hover{padding-left: 5px;}
    }
}
.videoYogaContent{
    overflow-y: auto;
    height: calc(100vh - 6em);
}