$trueWhite: white;
$white : rgb(245, 237, 233);
$trueBlack: black;
$black : rgb(6, 8, 12);
$blackLight: rgb(22, 24, 31);
$bg : rgb(25, 33, 49);
$focusColor: rgb(163, 24, 24);
$red: rgb(255, 0, 0);
$yellow:rgb(255, 217, 0); 